.scrollWrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    animation: scroll 15s linear infinite;
    animation-delay: 1s;
    animation-play-state: running;
    white-space: nowrap;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}